body {
  font-family: 'Sansita', sans-serif;
  background-color: #fff8f0;
  color: #5a4a42;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
input,
select {
  font-family: 'Sansita', sans-serif;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

input,
select,
button {
  font-family: 'Sansita', sans-serif;
}
button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2px;
  background: chocolate;
  color: white;
  margin: 1rem 0;
}

.image-container {
  height: 100vh;
  width: 50vw;
  position: relative;
}
.image-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.form-container {
  flex: 1;
  padding: 20px;
}

.price-banner {
  position: absolute;
  top: 20px;
  right: 5%;
  background-color: #d17b49;
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* banner extra: https://codepen.io/thebabydino/pen/XWJaXRp */

.price-banner::after {
  clip-path: polygon(
    100% 50%,
    calc(50% + calc(50% - 0.375em) * 0.99619)
      calc(50% + calc(50% - 0.375em) * 0.08716),
    calc(50% + calc(50% - 0.375em) * 0.99619)
      calc(50% + calc(50% - 0.375em) * -0.08716),
    100% 50%,
    100% 50%,
    99.24039% 58.68241%,
    calc(50% + calc(50% - 0.375em) * 0.96593)
      calc(50% + calc(50% - 0.375em) * 0.25882),
    calc(50% + calc(50% - 0.375em) * 0.99619)
      calc(50% + calc(50% - 0.375em) * 0.08716),
    99.24039% 58.68241%,
    100% 50%,
    96.98463% 67.10101%,
    calc(50% + calc(50% - 0.375em) * 0.90631)
      calc(50% + calc(50% - 0.375em) * 0.42262),
    calc(50% + calc(50% - 0.375em) * 0.96593)
      calc(50% + calc(50% - 0.375em) * 0.25882),
    96.98463% 67.10101%,
    100% 50%,
    93.30127% 75%,
    calc(50% + calc(50% - 0.375em) * 0.81915)
      calc(50% + calc(50% - 0.375em) * 0.57358),
    calc(50% + calc(50% - 0.375em) * 0.90631)
      calc(50% + calc(50% - 0.375em) * 0.42262),
    93.30127% 75%,
    100% 50%,
    88.30222% 82.13938%,
    calc(50% + calc(50% - 0.375em) * 0.70711)
      calc(50% + calc(50% - 0.375em) * 0.70711),
    calc(50% + calc(50% - 0.375em) * 0.81915)
      calc(50% + calc(50% - 0.375em) * 0.57358),
    88.30222% 82.13938%,
    100% 50%,
    82.13938% 88.30222%,
    calc(50% + calc(50% - 0.375em) * 0.57358)
      calc(50% + calc(50% - 0.375em) * 0.81915),
    calc(50% + calc(50% - 0.375em) * 0.70711)
      calc(50% + calc(50% - 0.375em) * 0.70711),
    82.13938% 88.30222%,
    100% 50%,
    75% 93.30127%,
    calc(50% + calc(50% - 0.375em) * 0.42262)
      calc(50% + calc(50% - 0.375em) * 0.90631),
    calc(50% + calc(50% - 0.375em) * 0.57358)
      calc(50% + calc(50% - 0.375em) * 0.81915),
    75% 93.30127%,
    100% 50%,
    67.10101% 96.98463%,
    calc(50% + calc(50% - 0.375em) * 0.25882)
      calc(50% + calc(50% - 0.375em) * 0.96593),
    calc(50% + calc(50% - 0.375em) * 0.42262)
      calc(50% + calc(50% - 0.375em) * 0.90631),
    67.10101% 96.98463%,
    100% 50%,
    58.68241% 99.24039%,
    calc(50% + calc(50% - 0.375em) * 0.08716)
      calc(50% + calc(50% - 0.375em) * 0.99619),
    calc(50% + calc(50% - 0.375em) * 0.25882)
      calc(50% + calc(50% - 0.375em) * 0.96593),
    58.68241% 99.24039%,
    100% 50%,
    50% 100%,
    calc(50% + calc(50% - 0.375em) * -0.08716)
      calc(50% + calc(50% - 0.375em) * 0.99619),
    calc(50% + calc(50% - 0.375em) * 0.08716)
      calc(50% + calc(50% - 0.375em) * 0.99619),
    50% 100%,
    100% 50%,
    41.31759% 99.24039%,
    calc(50% + calc(50% - 0.375em) * -0.25882)
      calc(50% + calc(50% - 0.375em) * 0.96593),
    calc(50% + calc(50% - 0.375em) * -0.08716)
      calc(50% + calc(50% - 0.375em) * 0.99619),
    41.31759% 99.24039%,
    100% 50%,
    32.89899% 96.98463%,
    calc(50% + calc(50% - 0.375em) * -0.42262)
      calc(50% + calc(50% - 0.375em) * 0.90631),
    calc(50% + calc(50% - 0.375em) * -0.25882)
      calc(50% + calc(50% - 0.375em) * 0.96593),
    32.89899% 96.98463%,
    100% 50%,
    25% 93.30127%,
    calc(50% + calc(50% - 0.375em) * -0.57358)
      calc(50% + calc(50% - 0.375em) * 0.81915),
    calc(50% + calc(50% - 0.375em) * -0.42262)
      calc(50% + calc(50% - 0.375em) * 0.90631),
    25% 93.30127%,
    100% 50%,
    17.86062% 88.30222%,
    calc(50% + calc(50% - 0.375em) * -0.70711)
      calc(50% + calc(50% - 0.375em) * 0.70711),
    calc(50% + calc(50% - 0.375em) * -0.57358)
      calc(50% + calc(50% - 0.375em) * 0.81915),
    17.86062% 88.30222%,
    100% 50%,
    11.69778% 82.13938%,
    calc(50% + calc(50% - 0.375em) * -0.81915)
      calc(50% + calc(50% - 0.375em) * 0.57358),
    calc(50% + calc(50% - 0.375em) * -0.70711)
      calc(50% + calc(50% - 0.375em) * 0.70711),
    11.69778% 82.13938%,
    100% 50%,
    6.69873% 75%,
    calc(50% + calc(50% - 0.375em) * -0.90631)
      calc(50% + calc(50% - 0.375em) * 0.42262),
    calc(50% + calc(50% - 0.375em) * -0.81915)
      calc(50% + calc(50% - 0.375em) * 0.57358),
    6.69873% 75%,
    100% 50%,
    3.01537% 67.10101%,
    calc(50% + calc(50% - 0.375em) * -0.96593)
      calc(50% + calc(50% - 0.375em) * 0.25882),
    calc(50% + calc(50% - 0.375em) * -0.90631)
      calc(50% + calc(50% - 0.375em) * 0.42262),
    3.01537% 67.10101%,
    100% 50%,
    0.75961% 58.68241%,
    calc(50% + calc(50% - 0.375em) * -0.99619)
      calc(50% + calc(50% - 0.375em) * 0.08716),
    calc(50% + calc(50% - 0.375em) * -0.96593)
      calc(50% + calc(50% - 0.375em) * 0.25882),
    0.75961% 58.68241%,
    100% 50%,
    0% 50%,
    calc(50% + calc(50% - 0.375em) * -0.99619)
      calc(50% + calc(50% - 0.375em) * -0.08716),
    calc(50% + calc(50% - 0.375em) * -0.99619)
      calc(50% + calc(50% - 0.375em) * 0.08716),
    0% 50%,
    100% 50%,
    0.75961% 41.31759%,
    calc(50% + calc(50% - 0.375em) * -0.96593)
      calc(50% + calc(50% - 0.375em) * -0.25882),
    calc(50% + calc(50% - 0.375em) * -0.99619)
      calc(50% + calc(50% - 0.375em) * -0.08716),
    0.75961% 41.31759%,
    100% 50%,
    3.01537% 32.89899%,
    calc(50% + calc(50% - 0.375em) * -0.90631)
      calc(50% + calc(50% - 0.375em) * -0.42262),
    calc(50% + calc(50% - 0.375em) * -0.96593)
      calc(50% + calc(50% - 0.375em) * -0.25882),
    3.01537% 32.89899%,
    100% 50%,
    6.69873% 25%,
    calc(50% + calc(50% - 0.375em) * -0.81915)
      calc(50% + calc(50% - 0.375em) * -0.57358),
    calc(50% + calc(50% - 0.375em) * -0.90631)
      calc(50% + calc(50% - 0.375em) * -0.42262),
    6.69873% 25%,
    100% 50%,
    11.69778% 17.86062%,
    calc(50% + calc(50% - 0.375em) * -0.70711)
      calc(50% + calc(50% - 0.375em) * -0.70711),
    calc(50% + calc(50% - 0.375em) * -0.81915)
      calc(50% + calc(50% - 0.375em) * -0.57358),
    11.69778% 17.86062%,
    100% 50%,
    17.86062% 11.69778%,
    calc(50% + calc(50% - 0.375em) * -0.57358)
      calc(50% + calc(50% - 0.375em) * -0.81915),
    calc(50% + calc(50% - 0.375em) * -0.70711)
      calc(50% + calc(50% - 0.375em) * -0.70711),
    17.86062% 11.69778%,
    100% 50%,
    25% 6.69873%,
    calc(50% + calc(50% - 0.375em) * -0.42262)
      calc(50% + calc(50% - 0.375em) * -0.90631),
    calc(50% + calc(50% - 0.375em) * -0.57358)
      calc(50% + calc(50% - 0.375em) * -0.81915),
    25% 6.69873%,
    100% 50%,
    32.89899% 3.01537%,
    calc(50% + calc(50% - 0.375em) * -0.25882)
      calc(50% + calc(50% - 0.375em) * -0.96593),
    calc(50% + calc(50% - 0.375em) * -0.42262)
      calc(50% + calc(50% - 0.375em) * -0.90631),
    32.89899% 3.01537%,
    100% 50%,
    41.31759% 0.75961%,
    calc(50% + calc(50% - 0.375em) * -0.08716)
      calc(50% + calc(50% - 0.375em) * -0.99619),
    calc(50% + calc(50% - 0.375em) * -0.25882)
      calc(50% + calc(50% - 0.375em) * -0.96593),
    41.31759% 0.75961%,
    100% 50%,
    50% 0%,
    calc(50% + calc(50% - 0.375em) * 0.08716)
      calc(50% + calc(50% - 0.375em) * -0.99619),
    calc(50% + calc(50% - 0.375em) * -0.08716)
      calc(50% + calc(50% - 0.375em) * -0.99619),
    50% 0%,
    100% 50%,
    58.68241% 0.75961%,
    calc(50% + calc(50% - 0.375em) * 0.25882)
      calc(50% + calc(50% - 0.375em) * -0.96593),
    calc(50% + calc(50% - 0.375em) * 0.08716)
      calc(50% + calc(50% - 0.375em) * -0.99619),
    58.68241% 0.75961%,
    100% 50%,
    67.10101% 3.01537%,
    calc(50% + calc(50% - 0.375em) * 0.42262)
      calc(50% + calc(50% - 0.375em) * -0.90631),
    calc(50% + calc(50% - 0.375em) * 0.25882)
      calc(50% + calc(50% - 0.375em) * -0.96593),
    67.10101% 3.01537%,
    100% 50%,
    75% 6.69873%,
    calc(50% + calc(50% - 0.375em) * 0.57358)
      calc(50% + calc(50% - 0.375em) * -0.81915),
    calc(50% + calc(50% - 0.375em) * 0.42262)
      calc(50% + calc(50% - 0.375em) * -0.90631),
    75% 6.69873%,
    100% 50%,
    82.13938% 11.69778%,
    calc(50% + calc(50% - 0.375em) * 0.70711)
      calc(50% + calc(50% - 0.375em) * -0.70711),
    calc(50% + calc(50% - 0.375em) * 0.57358)
      calc(50% + calc(50% - 0.375em) * -0.81915),
    82.13938% 11.69778%,
    100% 50%,
    88.30222% 17.86062%,
    calc(50% + calc(50% - 0.375em) * 0.81915)
      calc(50% + calc(50% - 0.375em) * -0.57358),
    calc(50% + calc(50% - 0.375em) * 0.70711)
      calc(50% + calc(50% - 0.375em) * -0.70711),
    88.30222% 17.86062%,
    100% 50%,
    93.30127% 25%,
    calc(50% + calc(50% - 0.375em) * 0.90631)
      calc(50% + calc(50% - 0.375em) * -0.42262),
    calc(50% + calc(50% - 0.375em) * 0.81915)
      calc(50% + calc(50% - 0.375em) * -0.57358),
    93.30127% 25%,
    100% 50%,
    96.98463% 32.89899%,
    calc(50% + calc(50% - 0.375em) * 0.96593)
      calc(50% + calc(50% - 0.375em) * -0.25882),
    calc(50% + calc(50% - 0.375em) * 0.90631)
      calc(50% + calc(50% - 0.375em) * -0.42262),
    96.98463% 32.89899%,
    100% 50%,
    99.24039% 41.31759%,
    calc(50% + calc(50% - 0.375em) * 0.99619)
      calc(50% + calc(50% - 0.375em) * -0.08716),
    calc(50% + calc(50% - 0.375em) * 0.96593)
      calc(50% + calc(50% - 0.375em) * -0.25882),
    99.24039% 41.31759%,
    100% 50%
  );
}

.price-banner::after {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  bottom: -0.5em;
  left: -0.5em;
  background: inherit;
  background: white;
  content: '';
}
